@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    
    font-family: Open Sans;
}


.footer-distributed {
    background: #ffaa00;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 99%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    position: absolute;
    bottom: 0;
    margin-top: auto;
    border-radius: 25px;
    
    
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    position:unset ;
    vertical-align: top;
    height: 250px;
    
}
.copyright{
    text-align: left;
    position: fixed;
    vertical-align: middle;
    bottom: 0;
    margin-left: 180px
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
    
}
.footer-distributed .footer-left img {
    width: 64%;
    -ms-flex-item-align: auto;
    
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: rgb(3, 182, 0);
}

/* Footer links */

.footer-distributed .footer-links {
    color: rgb(3, 182, 0);
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #ff5e00;
    color: rgb(3, 182, 0);
    font-size: 20px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 20px 15px;
    vertical-align: middle;
    margin-left: 180px
}



.footer-distributed .footer-center p {
    display: inline-block;
    color: rgb(3, 182, 0);
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
}

.footer-distributed .footer-center p a {
    color: rgb(3, 182, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
    font-size: 15px;
    font-weight: bold;
    
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    
}

.footer-distributed .footer-company-about span {
    display: block;
    color: rgb(3, 182, 0);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}




/* If you don't want the footer to be responsive, remove these media queries */

